
.posts-page-section{
    background-color: #f7f7f9;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.header-section-posts{
    width: 100%;
    background-image: url("../assets/images/header.jpg");
    background-position: top top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    
}
.bg-header-posts{
    background-color: #14261c;
    opacity:0.6;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    
}
.header-posts-content{
    position: relative;
    z-index: 2;
    color:#fff;
}
.header-posts-content h1{
    font-weight: 350;
}

.card-post{
    width: 50rem;
    margin:auto;
    border: solid;
    border-radius: 15px;
}
.card-post img{
    border-radius: 15px;
}

